<!doctype html>
<html lang="fr" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Exercice 3</title>
    </head>
  <body>
    <div ng-controller="carsCtrl">
      <table cellspacing="2px" cellpadding="2px;" rules="all" style="border:solid 1px black;">
        <thead>
          <th>Marque</th>
          <th>Couleur</th>
        </thead>
        <!-- <tr ng-repeat="car in cars" ng-show="car.couleur == 'verte'"> -->
        <tr ng-repeat="car in cars| filter : {couleur : '!verte'}">
          <td>
            {{car.marque}}
          </td>
          <td>
            {{car.couleur}}
          </td>
        </tr>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
